body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  font-family: "Pushster", cursive;
  background-color: #2b2c2f;
  color: #E36911;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.navbar {
  font-family: "Dancing Script", cursive;
}
hr {
  color: #fff;
}
.content-category {
  text-align: left;
}
.content-category .list-group-item {
  color: #E36911;
  cursor: pointer;
}
.category-aktif {
  background-color: #E36911;
  color: #fff !important;
}
.left {
  text-align: left;
  color: #E36911;
}
.right {
  text-align: right;
}
.sizeleft {
  margin-left: 10px;
}
.sizeright {
  margin-right: 10px;
}
.textarea {
  color: #E36911;
}
.white {
  background-color: #fff;
  width: 100%;
  height: 92.5vh;
}
.hasil {
  height: 500px;
}
.overflow-auto::-webkit-scrollbar {
  display: none;
}
@media screen and (min-height: 1000px) {
  .hasil {
    height: 700px;
  }
}
@media screen and (max-width: 768px) {
  img {
    height: 100px;
  }
}
